.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin-top: 20px;
}
.new-collections h1{
    color: rgb(29, 2, 55);
    font-size: 30px;
    font-weight: 600;

}
.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: blueviolet;
}
.collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    margin-top: 50px;
    gap: 30px;

}